@font-face {
  font-family: Kopub;
  src: url(./fonts/KoPubBatang-Bold.ttf);
  src: url(./fonts/KoPubBatang-Light.ttf);
  src: url(./fonts/KoPubBatang-Regular.ttf);
}
.navbar-home {
  background: #1e1e1e;
}
.home-header {
  height: 100vh;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    90deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(40, 29, 61, 1) 15%,
    rgba(59, 35, 90, 1) 30%,
    rgba(94, 49, 153, 1) 45%,
    rgba(151, 71, 255, 1) 60%,
    rgba(94, 49, 153, 1) 75%,
    rgba(40, 29, 61, 1) 90%,
    rgba(20, 20, 20, 1) 100%
  );
}
.home-header-bags {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
}
.home-header-bags img {
  height: 400px;
}
.home-header-bags .spacious {
  /* display: flex; */
}
.spacious {
  width: 90vw;
}
.spacious h1 {
  font-family: "Kopub" !important;
  font-size: 150px;
  color: white;
  max-width: auto;
}
/* Featured Division Styling */
.home-featured {
  background-color: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100vw;
  /* padding-bottom: 0vh; */
  /* height: 110vh; */
  margin-top: -5vh;
}
.home-featured span {
  font-family: "Kopub";
  font-size: 96px;
  letter-spacing: 15px;
  color: rgba(0, 0, 0, 0.078);
}
.home-featured label {
  font-size: 32px;
  font-family: "Kumbh Sans";
  font-weight: bold;
  margin-top: -100px;
  letter-spacing: 2px;
}
.home-featured iframe {
  height: 100vh;
  /* width: 90vw; */
}
/* Limited Editions Div Styling */
.home-limited-editions {
  display: flex;
  flex-direction: column;
  height: 120vh;
  padding-top: 10vh;
  margin-bottom: 5vh;
  position: relative;
}
home-limited-editions-design {
  display: flex;
  width: 100vw;
  flex-direction: row !important;
  position: relative;
}
.home-limited-editions label {
  font-family: "Kanit", sans-serif;
  font-size: 1250%;
  line-height: 150px;
  margin-left: 90px;
  background: url(./assets/mask.jpg);
  background-size: 100%;
  background-position: -50%;
  background-repeat: no-repeat;
  color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.violet-rectangles {
  height: 30px;
  /* width: 200px; */
  background-color: #9747ff;
  margin-top: 15px;
}
.violet-rectangles1 {
  width: 4%;
  position: absolute;
  top: 180px;
}
.violet-rectangles2 {
  width: 6%;
  position: absolute;
  top: 230px;
}
.violet-rectangles3 {
  width: 38%;
  position: absolute;
  right: 0;
  top: 30px;
}
.violet-rectangles4 {
  width: 32%;
  position: absolute;
  right: 0;
  top: 80px;
}
.violet-rectangles5 {
  width: 33%;
  position: absolute;
  right: 0;
  top: 130px;
}
.home-limited-editions-bags-and-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15vh;
}
.home-limited-editions-bags-and-button img {
  height: 400px;
  margin-top: -250px;
}
.home-limited-editions-bags-and-button button {
  background-color: #fca311;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
  transition: transform 0.2s;
}
.home-limited-editions-bags-and-button button:hover {
  transform: scale(1.1);
  background-color: white;
  color: #fca311;
  border: solid 1px #fca311;
}
.home-limited-editions-bags-and-button i {
  font-size: 20px;
  margin-left: 10px;
  padding-right: 15px;
}
.black-line-circle {
  height: 250px;
  width: 180px;
  border: 30px solid black;
  border-radius: 49%;
  margin-left: -270px;
  z-index: -1;
  margin-top: -150px;
}
/* Shop Now Div Styling */
.home-shop {
  background-color: #a46439;
  height: 600px;
  padding: 2vh 10vw;
  padding-bottom: 5vh;
  display: flex;
  padding-right: 4vw;
  justify-content: space-between;
}
.bag {
  width: 33vw;
}
.home-shop img {
  height: 400px;
  margin-left: -185px;
  margin-top: -200px;
}

.sale-tags {
  font-family: "Kumbh Sans";
  display: flex;
  font-weight: 700;
  font-size: 120px;
  color: white;
  flex-direction: column;
  z-index: 1;
}
.sale-tags label {
  line-height: 150px;
  animation: slide-top 2s linear infinite normal forwards;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.desc {
  width: 800px;
  padding: 15vh 5vw;
  color: white;
}
.desc h3 {
  font-size: 40px;
  font-weight: 200;
}
.desc h2 {
  font-size: 45px;
  letter-spacing: 2px;
}
.desc p {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 2px;
  font-weight: 300;
}
.desc button {
  font-family: "Kanit", sans-serif;
  background-color: #eaeaea;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  font-weight: 400 !important;
  transition: transform 0.2s;
}
.desc button:hover {
  transform: scale(1.1);
  background-color: black;
  color: #eaeaea;
  border: #eaeaea;
}
.desc i {
  margin-left: 10px;
}
